* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 90%;
  max-width: 1110px;
  margin: auto;
}

/* HEADER */
header {
  width: 100%;
  height: 100px;
  padding: 17px 0 17px 162px;
  background-color: #385A64;
  color: white;
}

/* HERO */
.hero {
  width: 100%;
}

.hero__wrapper {
  display:flex;
  justify-content: space-evenly;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hero__image {
}

.hero__image img {
  height: 442px;
  width: 442px;
}

.hero__title {
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 56px;
}

.hero__title span {
  color:#FF735C;
}
.hero__description {
  width: 450px;
  margin-top: 31px;
}

.hero__actions {
}

/* LOCATION */
.location {
  width: 100%;
  background: #ffffff;
  border: 2px solid #f0f0f0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  min-height: 100px;
}

.location__content {
  padding: 50px 0;
}

.location__title {
  text-align: center;
  color:#FF735C;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
}

.location__cards {
}

/* FOOTER */
footer {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center; 
  margin: 20px 0 20px 0;
  color:#0C0F53;
}

/* BUTTON COMPONENT */
.btn {
  border-radius: 5px;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #ffffff;
  background: #ffffff;
  transition: 250ms;
  background-color: #385a64;
  font-size: 18px;
  line-height: 21px;
}

/* CARD COMPONENT */
.card {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border:none;
  margin-top:15px;
}

.card__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 90px;
  padding: 75px 30px 30px 30px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  position: relative;
  width:30%;
}

.card__header {
  position: absolute;
  top: -90px;
  height: 150px;
  width: 150px;
  background-color: #e9f5f3;
  border-radius: 50%;
}

.card__header img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}

.card__point {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 90px;
  top: 0px;
  background-color: #ff735c;
  border: 3px solid rgba(255, 255, 255, 0.45);
  border-radius: 50%;
}

.card__point span {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 300;
  font-size: 30px;
  line-height: 30px;
}

.card__title {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #385A64;
}

.card__description {
  padding-top: 10px;
  font-size: 14px;
  line-height: 24px;
}

/* RESPONSIVE */
@media (max-width:480px) {
  header {
    width: 100%;
    height: 67px;
    text-align: center;
    background-color: #385A64;
    color: white;
  }
  .hero__wrapper {
    display:flex;
    justify-content: space-evenly;
    flex-direction: column-reverse;
  }

  .hero__image img {
    height: 300px;
    width: 300px;
  }

  .hero__description {
    font-size:14px;
    width: 300px;
  }

  .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:none;
    margin-top:5px;
  }

  .card__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 90px;
    padding: 75px 30px 30px 30px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    position: relative;
    width: 85%;
  }
}